# Node modules
node_modules/

# Env files
.env
.env.local

# Build output
client/dist/
client/build/
server/dist/
server/build/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
